.btn-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-left {
    margin-left: 50px;
}


.btn-home-icon{
    background: url("/icons/home.png");
    float: left;
}

.body{
    background-color: #f9f7f7;
}

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}