.btn-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn-left {
    margin-left: 50px;
}


.btn-home-icon {
    background: url("/icons/home.png");
    float: left;
}

.body-custom {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    padding-bottom: 70px;
}
